<div class="bg-blue-700 py-6 px-4 sm:px-6 hidden" id="<%= id(file) %>">
  <div class="flex">
    <h2 class="text-lg font-medium text-slate-100">
      <%= shortened_filename file %>
    </h2>
  </div>
  <div class="mt-1 flex divide-x divide-slate-300">
    <p class="flex items-center text-sm pr-2">
      <span class="pr-2 text-slate-100">% Covered:</span>
      <span class="font-bold <%= coverage_class(file.covered_percent) %>">
        <%= file.covered_percent.round(2).to_s %>%
      </span>
    </p>
    <% if branchable_result? %>
      <p class="flex items-center text-sm pl-2">
        <span class="pr-2 text-slate-100">% Branches Covered:</span>
        <span class="font-bold <%= coverage_class(file.branches_coverage_percent) %>">
          <%= file.branches_coverage_percent.round(2).to_s %>%
        </span>
      </p>
      <% end %>
  </div>
</div>
<div class="flex h-full flex-col overflow-y-scroll bg-gray-50 dark:bg-slate-900 shadow-xl z-50">
  <div class="relative flex-1">
    <div class="absolute inset-0">
      <pre class="bg-blue-700 text-white whitespace-normal w-full text-xs pb-14">
        <ol class="list-decimal ml-12 mb-12 text-slate-300">
          <% file.lines.each do |line| %>
            <li class="bg-white border-l-4 border-gray-700 py-2 pl-2 pr-4 <%= line_coverage_class(line.status) %>" data-hits="<%= line.coverage ? line.coverage : '' %>" data-linenumber="<%= line.number %>">
              <% if line.covered? %>
                <span class="inline-flex items-center ml-1 px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-blue-700 text-white float-right"><%= line.coverage %></span>
              <% end %>
              <% if line.skipped? %>
                <span class="inline-flex items-center ml-1 px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-blue-700 text-white float-right">skipped</span>
              <% end %>
              <% if branchable_result? %>
                <% file.branches_for_line(line.number).each do |branch_type, hit_count| %>
                  <span class="inline-flex items-center ml-1 px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-blue-700 text-white float-right" title="<%= branch_type%> branch hit <%= hit_count %> times">
                    <%= branch_type %>: <%= hit_count %>
                  </span>
                <% end %>
              <% end %>
              <code class="text-gray-900 whitespace-pre-wrap"><%= CGI.escapeHTML(line.src.chomp) %></code>
            </li>
          <% end %>
        </ol>
      </pre>
    </div>
  </div>
</div>