<li data-lines="<%= file.lines.count %>" data-relevent-lines="<%= file.covered_lines.count + file.missed_lines.count %>"
    data-covered-lines="<%= file.covered_lines.count %>" data-missed-lines="<%= file.missed_lines.count %>"
    data-covered-strength="<%= file.covered_strength %>" data-covered-percent="<%= file.covered_percent %>"
    data-branch-covered-percent="<%= file.branches_coverage_percent %>" data-branches="<%= file.total_branches.count %>"
    data-branches-covered="<%= file.covered_branches.count %>" data-branches-missed="<%= file.missed_branches.count %>"
    data-file-name="<%= shortened_filename(file) %>">
  <a href="#<%= id(file) %>" class="block" data-action="click->slideover#openEvent" data-index="<%= id(file) %>">
    <div class="flex items-center px-4 py-4 sm:px-6 justify-between">
      <div class="min-w-0 flex-1 justify-between items-center mr-4">
        <div class="flex-1 flex items-center justify-between">
          <p class="text-sm font-medium text-blue-700 truncate">
            <%= shortened_filename(file) %>
          </p>
          <div class="ml-2 flex-shrink-0 flex">
            <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full <%= coverage_badge_class(file.covered_percent) %>">
              <%= sprintf("%.2f", file.covered_percent.round(2)) %>%
            </p>
          </div>
        </div>
        <div class="mt-2">
          <div class="lg:flex">
            <p class="flex items-center text-sm">
              <span class="font-bold pr-2">Lines:</span>
              <%= format_number(file.lines.count) %>
            </p>
            <p class="mt-2 flex items-center text-sm lg:mt-0 lg:ml-6">
              <span class="font-bold pr-2">Relevent Lines:</span>
              <%= format_number(file.covered_lines.count + file.missed_lines.count) %>
            </p>
            <p class="mt-2 flex items-center text-sm lg:mt-0 lg:ml-6">
              <span class="font-bold pr-2">Covered Lines:</span>
              <%= format_number(file.covered_lines.count) %>
            </p>
            <p class="mt-2 flex items-center text-sm lg:mt-0 lg:ml-6">
              <span class="font-bold pr-2">Missed Lines:</span>
              <%= format_number(file.missed_lines.count) %>
            </p>
            <p class="mt-2 flex items-center text-sm lg:mt-0 lg:ml-6">
              <span class="font-bold pr-2">AVG Hits/Lines:</span>
              <%= format_number(file.covered_strength.round(2)) %>
            </p>
          </div>
          <% if branchable_result? %>
            <div class="lg:flex mt-2">
              <p class="flex items-center text-sm lg:mt-0">
                <span class="font-bold pr-2">% Covered Branches:</span>
                <%= sprintf("%.2f", file.branches_coverage_percent.round(2)) %>%
              </p>
              <p class="mt-2 flex items-center text-sm lg:mt-0 lg:ml-6">
                <span class="font-bold pr-2">Branches:</span>
                <%= format_number(file.total_branches.count) %>
              </p>
              <p class="mt-2 flex items-center text-sm lg:mt-0 lg:ml-6">
                <span class="font-bold pr-2">Covered Branches:</span>
                <%= format_number(file.covered_branches.count) %>
              </p>
              <p class="mt-2 flex items-center text-sm lg:mt-0 lg:ml-6">
                <span class="font-bold pr-2">Missed Branches:</span>
                <%= format_number(file.missed_branches.count) %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>
  </a>
</li>
