<div data-controller="gridview" data-gridview-hide-class="hidden"
     data-gridview-button-active-class="bg-white" data-gridview-button-inactive-class="hover:bg-white hover:shadow-sm">
    <div class="flex">
        <h1 class="flex-1 text-2xl font-bold text-gray-900"><%= title %></h1>
        <div data-controller="dropdown"
            data-action="click->dropdown#toggle click@window->dropdown#hide"
            data-dropdown-hide-class="hidden"
            data-dropdown-invisible-class="opacity-0 scale-95"
            data-dropdown-visible-class="opacity-100 scale-100"
            data-dropdown-entering-class="ease-out duration-150"
            data-dropdown-enter-timeout-value="100"
            data-dropdown-leaving-class="ease-in duration-100"
            data-dropdown-leave-timeout-value="75">
            <div class="mt-1 relative">
                <button type="button" class="bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                    <span class="block">
                        Sort Options
                    </span>
                    <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </span>
                </button>
                <ul data-dropdown-target="menu" class="hidden absolute mt-1 w-full bg-white shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                    <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                        <span class="font-normal">
                            File Name
                        </span>
                        <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </li>
                    <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                        <span class="font-normal">
                            % Covered
                        </span>
                        <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </li>
                    <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                        <span class="font-normal">
                            Lines
                        </span>
                        <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </li>
                    <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                        <span class="font-normal">
                            Relevant Lines
                        </span>
                        <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </li>
                    <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                        <span class="font-normal">
                            Lines Covered
                        </span>
                        <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </li>
                    <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                        <span class="font-normal">
                            Lines Missed
                        </span>
                        <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </li>
                    <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                        <span class="font-normal">
                            Avg Hits/Line
                        </span>
                        <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </li>
                    <% if branchable_result? %>
                        <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                            <span class="font-normal">
                                Branch % Covered
                            </span>
                            <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                            <span class="font-normal">
                                Branches
                            </span>
                            <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                            <span class="font-normal">
                                Covered Branches
                            </span>
                            <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                            <span class="font-normal">
                                Missed Branches
                            </span>
                            <span class="hidden text-indigo-600 absolute inset-y-0 right-0 items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="ml-6 bg-gray-100 p-0.5 rounded-lg flex items-center">
            <button data-action="click->gridview#toggle" data-gridview-target="stack" type="button" class="p-1.5 rounded-md bg-white text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Use list view</span>
            </button>
            <button data-action="click->gridview#toggle" data-gridview-target="grid" type="button" class="ml-0.5 hover:bg-white hover:shadow-sm p-1.5 rounded-md shadow-sm text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                </svg>
                <span class="sr-only">Use grid view</span>
            </button>
        </div>
    </div>

    <section class="mt-8 pb-8">
        <div>
            <dl class="mt-5 grid grid-cols-2 gap-5 lg:grid-cols-6 md:grid-cols-3">
                <%= generate_stat_card('# of Files', format_number(files.length), 'text-gray-900') %>
                <%= generate_stat_card('Relevant Lines', format_number(files.lines_of_code), 'text-gray-900') %>
                <%= generate_stat_card('Lines Covered', format_number(files.covered_lines), 'text-green-500') %>
                <%= generate_stat_card('Lines Missed', format_number(files.missed_lines), 'text-red-500') %>
                <%= generate_stat_card('Covered', files.covered_percent.round(2).to_s + '%', coverage_class(files.covered_percent)) %>
                <%= generate_stat_card('Hits/Line', files.covered_strength.round(2), strength_class(files.covered_strength)) %>
                <% if branchable_result? %>
                    <%= generate_stat_card('Total Branches', format_number(files.total_branches), 'text-gray-900') %>
                    <%= generate_stat_card('Branches Covered', format_number(files.covered_branches), 'text-green-500') %>
                    <%= generate_stat_card('Branches Missed', format_number(files.missed_branches), 'text-red-500') %>
                    <%= generate_stat_card('Branches', files.branch_covered_percent.round(2).to_s + '%', coverage_class(files.branch_covered_percent)) %>
                <% end %> 
            </dl>
        </div>
    </section>

    <section class="mt-2 pb-8" data-gridview-target="list">
        <div class="bg-white shadow overflow-hidden sm:rounded-md">
            <ul class="divide-y divide-gray-200">
                <% files.each.with_index do |source_file, index| %>
                    <li>
                        <a href="#" class="block hover:bg-gray-50">
                            <div class="flex items-center px-4 py-4 sm:px-6 justify-between">
                                <div class="min-w-0 flex-1 justify-between items-center mr-4">
                                    <div class="flex-1 flex items-center justify-between">
                                        <p class="text-sm font-medium text-indigo-600 truncate">
                                            <%= shortened_filename(source_file) %>
                                        </p>
                                        <div class="ml-2 flex-shrink-0 flex">
                                            <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full <%= coverage_badge_class(source_file.covered_percent) %>">
                                                <%= sprintf("%.2f", source_file.covered_percent.round(2)) %>%
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mt-2 md:flex md:justify-between">
                                        <div class="md:flex">
                                            <p class="flex items-center text-sm text-gray-500">
                                                <strong>Lines:&nbsp;</strong>
                                                <%= format_number(source_file.lines.count) %>
                                            </p>
                                            <p class="mt-2 flex items-center text-sm text-gray-500 md:mt-0 md:ml-6">
                                                <strong>Relevent Lines:&nbsp;</strong>
                                                <%= format_number(source_file.covered_lines.count + source_file.missed_lines.count) %>
                                            </p>
                                            <p class="mt-2 flex items-center text-sm text-gray-500 md:mt-0 md:ml-6">
                                                <strong>Covered Lines:&nbsp;</strong>
                                                <%= format_number(source_file.covered_lines.count) %>
                                            </p>
                                            <p class="mt-2 flex items-center text-sm text-gray-500 md:mt-0 md:ml-6">
                                                <strong>Missed Lines:&nbsp;</strong>
                                                <%= format_number(source_file.missed_lines.count) %>
                                            </p>
                                            <p class="mt-2 flex items-center text-sm text-gray-500 md:mt-0 md:ml-6">
                                                <strong>AVG Hits/Lines:&nbsp;</strong>
                                                <%= format_number(source_file.covered_strength.round(2)) %>
                                            </p>
                                        </div>
                                        <% if branchable_result? %>
                                            <div class="md:flex mt-2 md:mt-0">
                                                <p class="flex items-center text-sm text-gray-500">
                                                    <strong>Branches:&nbsp;</strong>
                                                    <%= format_number(source_file.total_branches.count) %>
                                                </p>
                                                <p class="mt-2 flex items-center text-sm text-gray-500 md:mt-0 md:ml-6">
                                                    <strong>Covered Branches:&nbsp;</strong>
                                                    <%= format_number(source_file.covered_branches.count) %>
                                                </p>
                                                <p class="mt-2 flex items-center text-sm text-gray-500 md:mt-0 md:ml-6">
                                                    <strong>Missed Branches:&nbsp;</strong>
                                                    <%= format_number(source_file.missed_branches.count) %>
                                                </p>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                                <div>
                                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>

        <nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0" aria-label="Pagination">
            <div class="-mt-px w-0 flex-1 flex">
                <a href="#" class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-200">
                    <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                    </svg>
                    Previous
                </a>
            </div>
            <div class="hidden md:-mt-px md:flex">
                <a href="#" class="border-purple-500 text-purple-600 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium" aria-current="page">
                    1
                </a>
            </div>
            <div class="-mt-px w-0 flex-1 flex justify-end">
                <a href="#" class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-200">
                    Next
                    <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </nav>
    </section>

    <section class="mt-2 pb-16 hidden" aria-labelledby="gallery-heading" data-gridview-target="container">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-4">
            <% files.each.with_index do |source_file, index| %>
                <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="flex-1 min-w-0">
                        <a href="#" class="focus:outline-none">
                            <span class="absolute inset-0" aria-hidden="true"></span>
                            <p class="text-sm font-medium text-gray-900">
                                <%= shortened_filename(source_file) %>
                            </p>
                            <p class="text-sm text-gray-900 truncate">
                                <%= format_number(source_file.covered_lines.count) %>/<%= format_number(source_file.covered_lines.count + source_file.missed_lines.count) %>
                                -
                                <span class="<%= coverage_class(source_file.covered_percent) %>"><%= sprintf("%.2f", source_file.covered_percent.round(2)) %>%</span>
                            </p>
                        </a>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
</div>